<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Add user</title>
</head>
<body>
<div th:replace="fragments/headerTemplate :: header"></div>
<form th:action="@{/admin/add}" method="post" th:object="${user}">
  <table>
    <tr>
      <td><label for="email">Email</label></td>
      <td><input id="email" type="text" th:field="*{email}" required autofocus></td>
    </tr>
    <tr>
      <td><label for="name">User name</label></td>
      <td><input id="name" type="text" th:field="*{name}" required></td>
    </tr>
    <tr>
      <td><label for="lastName">User lastname</label></td>
      <td><input id="lastName" type="text" th:field="*{lastName}" required></td>
    </tr>
    <tr>
      <td><label for="age">User age</label></td>
      <td><input id="age" th:field="*{age}" required></td>
    </tr>
    <tr>
      <td><label for="password">Password</label></td>
      <td><input id="password" th:field="*{password}" type="password" required></td>
    </tr>
    <tr>
      <td><label for="roles">Roles</label></td>
      <td><input type="checkbox" id="roles" name="selectedRoles"
               th:each="role : ${allRoles}"
               th:text="${role.getName()}"
               th:value="${role.getId()}"></td>
    </tr>
    <tr>
      <td><input type="submit" value="Add user"></td>
    </tr>
  </table>
</form>
</body>
</html>