<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device=width, initial-scale=1, shrink-to-fit=no">
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
  <link href="https://fonts.cdnfonts.com/css/segoe-ui-4" rel="stylesheet">
  <title>Login page</title>
</head>
<body style="font-family: 'Segoe UI', sans-serif">
<div class="container col-3" style="margin-top: 3rem">
  <form method="post" th:action="@{/perform-login}">
    <p class="h3"><strong>Please sign in</strong></p>
    <div class="form-group">
      <input autofocus class="form-control input-group-sm" id="email" name="email"
             placeholder="Email address" required type="text">
      <input class="form-control input-group-sm" id="password" name="password" placeholder="Password"
             required type="password">
    <div>
    <button type="submit" class="btn btn-block btn-primary">Sign in</button>
    </div>
    <div>
      New user? Then <a href="" data-toggle="modal" data-target="#registerNewUserFormModal">register</a>
    </div>

  </form>
</div>


<!-- User register modal view -->
<div class="modal" id="registerNewUserFormModal" tabindex="-1" role="dialog">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title">Register</h5>
        <button id="closeEditModalXButton"
                class="close"
                type="button"
                data-dismiss="modal"
                onclick="$('#userRegisterFormModal')[0].reset()">
          &times;
        </button>
      </div>
      <div class="modal-body p-0">
        <form
                id="userRegisterFormModal"
                class="text-center mb-0 pt-4 font-weight-bold"
                action="/register"
                method="post">
          <div class="col-6 mx-auto">
            <div class="form-group">
              <label for="firstNameInputRegisterFormModal">First name</label>
              <input id="firstNameInputRegisterFormModal" class="form-control" type="text" required>
              <small id="firstNameInputRegisterFormValidation" class="validationMessages form-text text-left text-danger"></small>
            </div>
            <div class="form-group">
              <label for="lastNameInputRegisterFormModal">Last name</label>
              <input id="lastNameInputRegisterFormModal" class="form-control" type="text" required>
              <small id="lastNameInputRegisterFormValidation" class="validationMessages form-text text-left text-danger"></small>
            </div>
            <div class="form-group">
              <label for="ageInputRegisterFormModal">Age</label>
              <input id="ageInputRegisterFormModal" class="form-control" type="number" required>
              <small id="ageInputRegisterFormValidation" class="validationMessages form-text text-left text-danger"></small>
            </div>
            <div class="form-group">
              <label for="emailInputRegisterFormModal">Email</label>
              <input id="emailInputRegisterFormModal" class="form-control" required>
              <small id="emailInputRegisterFormValidation" class="validationMessages form-text text-left text-danger"></small>
            </div>
            <div class="form-group">
              <label for="passwordInputRegisterFormModal">Password</label>
              <input id="passwordInputRegisterFormModal" class="form-control" required>
              <small id="passwordInputRegisterFormValidation" class="validationMessages form-text text-left text-danger"></small>
            </div>
            <div class="form-group p-0">
              <label for="roleSelectionInputNewUserRegisterForm">Role</label>
              <select id="roleSelectionInputNewUserRegisterForm" class="form-control pre-scrollable" multiple size="2"
                      name="selectedRoles">
                <option
                        th:each="role : ${allRoles}"
                        th:text="${role.getName()}"
                        th:value="${role.getId()}">
                </option>
              </select>
            </div>
          </div>
          <div class="modal-footer">
            <button class="btn btn-secondary" type="button" data-dismiss="modal" onclick="$('#userRegisterFormModal')[0].reset()">Close</button>
            <input class="btn btn-primary" type="button" th:value="Register" onclick="submitNewUserRegisterForm()">
          </div>
        </form>
      </div>
    </div>
  </div>
</div>
<!------------------------->

  <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>

  <script src="../static/common/common.js"></script>
</body>
</html>