<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org" lang="ru">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device=width, initial-scale=1, shrink-to-fit=no">
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.2/dist/css/bootstrap.min.css"
        integrity="sha384-xOolHFLEh07PJGoPkLv1IbcEPTNtaed2xpHsD9ESMhqIYd0nLMwNLD69Npy4HI+N" crossorigin="anonymous">
  <link href="https://fonts.cdnfonts.com/css/segoe-ui-4" rel="stylesheet">
  <title>Admin panel</title>
</head>
<body style="font-family: 'Segoe UI', sans-serif">
<div th:replace="fragments/headerTemplate :: header"></div>
<div class="container-fluid">
  <div class="row">
    <div class="col-2 px-0">
      <div class="nav nav-pills flex-column mt-3">
        <a class="nav-link active text-left" data-toggle="pill" data-target="#admin-tab-content"
           type="button">Admin
        </a>
        <a class="nav-link text-left" href="/user/"
           type="button">User
        </a>
      </div>
    </div>
    <div class="col-10 bg-light vh-100">
      <div class="tab-content">
        <div class="tab-pane fade show active" id="admin-tab-content">
          <div class="m-3 bg-light">
            <div class="h1">Admin panel</div>
            <nav>
              <div class="nav nav-tabs">
                <a class="nav-link active" data-toggle="tab" data-target="#all-users-tab" type="button">Users
                  table
                </a>
                <a class="nav-link" data-toggle="tab" data-target="#new-user-tab" type="button">New user</a>
              </div>
            </nav>
            <div class="tab-content border">
              <div class="tab-pane show active" id="all-users-tab">
                <div class="h5 bg-light border py-2 px-4 m-0">All users</div>
                <div class="p-4 bg-white">
                  <table id="usersTable" class="table table-striped pb-0">
                    <thead>
                    <tr>
                      <th>ID</th>
                      <th>First name</th>
                      <th>Last Name</th>
                      <th>Age</th>
                      <th>Email</th>
                      <th>Role</th>
                      <th>Edit</th>
                      <th>Delete</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr class="container" th:each="eachUser: ${users}">
                      <td th:text="${eachUser.getId()}">id</td>
                      <td th:text="${eachUser.getName()}">name</td>
                      <td th:text="${eachUser.getLastName()}">lastname</td>
                      <td th:text="${eachUser.getAge()}">age</td>
                      <td th:text="${eachUser.getEmail()}">email</td>
                      <td th:text="${eachUser.listRoles()}">roles</td>
                      <td>
                        <button class="btn btn-info" data-toggle="modal"
                                th:data-target="'#userEditModal'+${eachUser.getId()}">
                          Edit
                        </button>
                        <div class="modal" th:id="'userEditModal'+${eachUser.getId()}" tabindex="-1" role="dialog">
                          <div class="modal-dialog">
                            <div class="modal-content">
                              <div class="modal-header">
                                <h5 class="modal-title">Edit user</h5>
                                <button type="button" class="close" data-dismiss="modal">
                                  &times;
                                </button>
                              </div>
                              <div class="modal-body p-0">
                                <form
                                        class="text-center mb-0 pt-4 font-weight-bold"
                                        th:action="@{/admin/edit(id=${eachUser.getId()})}"
                                        th:object="${eachUser}"
                                        method="post">
                                  <div class="col-6 mx-auto">
                                    <div class="form-group ">
                                      <label th:for="'id'+*{id}">ID</label>
                                      <input class="form-control" th:id="'id'+*{id}" th:value="*{id}"
                                             th:name="id" type="text" readonly required>
                                    </div>
                                    <div class="form-group">
                                      <label th:for="'name'+*{id}">First name</label>
                                      <input class="form-control" th:id="'name'+*{id}" th:value="*{name}"
                                             th:name="name" type="text" required>
                                    </div>
                                    <div class="form-group">
                                      <label th:for="'lastName'+*{id}">Last name</label>
                                      <input class="form-control" th:id="'lastName'+*{id}"
                                             th:value="*{lastName}" th:name="lastName" type="text" required>
                                    </div>
                                    <div class="form-group">
                                      <label th:for="'age'+*{age}">Age</label>
                                      <input class="form-control" type="number" th:id="'age'+*{id}" th:value="*{age}"
                                             th:name="age" required>
                                    </div>
                                    <div class="form-group">
                                      <label th:for="'email'+*{email}">Email</label>
                                      <input class="form-control" th:id="'email'+*{id}" th:value="*{email}"
                                             th:name="email" required>
                                    </div>
                                    <div class="form-group">
                                      <label th:for="'password'+*{password}">Password</label>
                                      <input class="form-control" th:id="'password'+*{password}"
                                             th:name="password">
                                    </div>
                                    <div class="form-group p-0">
                                      <label for="roles">Role</label>
                                      <select multiple size="2" class="form-control pre-scrollable" id="roles"
                                              name="selectedRoles">
                                        <option
                                                th:each="role : ${allRoles}"
                                                th:text="${role.getName()}"
                                                th:value="${role.getId()}"
                                                th:selected="${eachUser.getRoles().contains(role)}">
                                        </option>
                                      </select>
                                    </div>
                                  </div>
                                  <div class="modal-footer">
                                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                                    <input type="submit" class="btn btn-primary" th:value="Edit">
                                  </div>
                                </form>
                              </div>
                            </div>
                          </div>
                        </div>
                      </td>
                      <td>
                        <button class="btn btn-danger" data-toggle="modal"
                                th:data-target="'#userDeleteModal'+${eachUser.getId()}">
                          Delete
                        </button>
                        <div class="modal" th:id="'userDeleteModal'+${eachUser.getId()}" tabindex="-1" role="dialog">
                          <div class="modal-dialog">
                            <div class="modal-content">
                              <div class="modal-header">
                                <h5 class="modal-title">Delete</h5>
                                <button type="button" class="close" data-dismiss="modal">
                                  &times;
                                </button>
                              </div>
                              <div class="modal-body p-0">
                                <form
                                        class="text-center mb-0 pt-4 font-weight-bold"
                                        th:action="@{delete(id=${eachUser.getId()})}"
                                        th:object="${eachUser}"
                                        method="post">
                                  <div class="col-6 mx-auto">
                                    <div class="form-group ">

                                      <label th:for="'idDeleteForm'+*{id}">ID</label>
                                      <input class="form-control" th:id="'idDeleteForm'+*{id}" th:value="*{id}"
                                             th:name="id" type="text" disabled>
                                    </div>
                                    <div class="form-group">
                                      <label th:for="'nameDeleteForm'+*{id}">First name</label>
                                      <input class="form-control" th:id="'nameDeleteForm'+*{id}" th:value="*{name}"
                                             th:name="name" type="text" disabled>
                                    </div>
                                    <div class="form-group">
                                      <label th:for="'lastNameDeleteForm'+*{id}">Last name</label>
                                      <input class="form-control" th:id="'lastNameDeleteForm'+*{id}"
                                             th:value="*{lastName}" th:name="lastName" type="text" disabled>
                                    </div>
                                    <div class="form-group">
                                      <label th:for="'emailDeleteForm'+*{age}">Age</label>
                                      <input class="form-control" type="number" th:id="'ageDeleteForm'+*{id}"
                                             th:value="*{age}"
                                             th:name="age" disabled>
                                    </div>
                                    <div class="form-group">
                                      <label th:for="'emailDeleteForm'+*{email}">Email</label>
                                      <input class="form-control" th:id="'emailDeleteForm'+*{id}" th:value="*{email}"
                                             th:name="email" disabled>
                                    </div>
                                    <div class="form-group p-0">
                                      <label for="rolesDeleteForm">Role</label>
                                      <select multiple size="2" class="form-control pre-scrollable" id="rolesDeleteForm"
                                              name="selectedRoles" disabled>
                                        <option
                                                th:each="role : ${allRoles}"
                                                th:text="${role.getName()}"
                                                th:value="${role.getId()}"
                                                th:selected="${eachUser.getRoles().contains(role)}">
                                        </option>
                                      </select>
                                    </div>
                                  </div>
                                  <div class="modal-footer">
                                    <button type="button" class="btn btn-secondary" data-dismiss="modal"
                                            th:text="Close"></button>
                                    <input type="submit" class="btn btn-danger" th:value="Delete">
                                  </div>
                                </form>
                              </div>
                            </div>
                          </div>
                        </div>
                      </td>
                    </tr>
                    </tbody>
                  </table>
                </div>
              </div>
              <div id="new-user-tab" class="tab-pane">
                <div class="h5 bg-light border py-2 px-4 m-0">Add new user</div>
                <div class="bg-white">
                  <form class="text-center pt-4 font-weight-bold" th:action="@{/admin/add}" method="post"
                        th:object="${newUser}">
                    <div class="form-group">
                      <label for="firstName" class="mb-0">First name</label>
                      <input id="firstName" placeholder="First name" class="form-control col-4 mx-auto"
                             th:field="*{name}" type="text">
                    </div>
                    <div class="form-group">
                      <label for="lastName" class="mb-0">Last name</label>
                      <input id="lastName" placeholder="Last name" class="form-control col-4 mx-auto"
                             th:field="*{lastName}" type="text">
                    </div>
                    <div class="form-group">
                      <label for="age" class="mb-0">Age</label>
                      <input id="age" placeholder="Age" class="form-control col-4 mx-auto" th:field="*{age}"
                             type="number">
                    </div>
                    <div class="form-group">
                      <label for="email" class="mb-0">Email</label>
                      <input id="email" placeholder="Email" class="form-control col-4 mx-auto" th:field="*{email}"
                             type="email">
                    </div>
                    <div class="form-group">
                      <label for="password" class="mb-0">Password</label>
                      <input id="password" placeholder="Password" class="form-control col-4 mx-auto"
                             th:field="*{password}" type="password">
                    </div>
                    <div class="form-group col-4 mx-auto p-0">
                      <label for="roleSelection" class="mb-0">Role</label>
                      <select multiple size="2" class="form-control w-100 text-secondary pre-scrollable"
                              id="roleSelection"
                              name="selectedRoles">
                        <option
                                th:each="role : ${allRoles}"
                                th:text="${role.getName()}"
                                th:value="${role.getId()}">
                        </option>
                      </select>
                    </div>
                    <div class="pb-3">
                      <input class="btn btn-success text-wrap btn-lg col-2 text-center" type="submit"
                             value="Add new user">
                    </div>
                  </form>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="tab-pane fade bg-white m-3" id="user-tab-content">
          <div class="h1 bg-light mb-0 pb-2">User-information page</div>
          <div class="h5 bg-light border py-2 px-4 m-0">About user</div>
          <div class="p-4 border">
            <table id="userInfoTable" class="table table-striped pb-0">
              <thead>
              <tr>
                <th>ID</th>
                <th>First name</th>
                <th>Last Name</th>
                <th>Age</th>
                <th>Email</th>
                <th>Role</th>
              </tr>
              </thead>
              <tbody>
              <tr class="container">
                <td th:text="${currentUser.getId()}">id</td>
                <td th:text="${currentUser.getName()}">name</td>
                <td th:text="${currentUser.getLastName()}">lastname</td>
                <td th:text="${currentUser.getAge()}">age</td>
                <td th:text="${currentUser.getEmail()}">email</td>
                <td th:text="${currentUser.listRoles()}">roles</td>
              </tr>
              </tbody>
            </table>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<script src="https://cdn.jsdelivr.net/npm/jquery@3.5.1/dist/jquery.slim.min.js"
        integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj"
        crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js"
        integrity="sha384-9/reFTGAW83EW2RDu2S0VKaIzap3H66lZH81PoYlFhbGU+6BZp6G7niu735Sk7lN"
        crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.2/dist/js/bootstrap.min.js"
        integrity="sha384-+sLIOodYLS7CIrQpBjl+C7nPvqq+FbNUBDunl/OZv93DB7Ln/533i8e/mZXLi/P+"
        crossorigin="anonymous"></script>

</body>
</html>